absl-py
appdirs
asgiref
astunparse
atomicwrites
attrs


black
botocore
cachetools
cement
certifi
cffi
chardet
charset-normalizer
click
colorama
coverage
cryptography
deepface
pathspec
factory-boy
Faker
filelock
flake8
flake8-django
Flask
flatbuffers
future
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
inflection
iniconfig
isort
itsdangerous
Jinja2
jmespath
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
mccabe
mtcnn
mypy-extensions
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas

Pillow
platformdirs
pluggy
protobuf
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyflakes
pyOpenSSL
pyparsing
pypiwin32
PySocks
pytest
pytest-django
pytest-factoryboy
python-dateutil
pytz

PyYAML
regex
requests
requests-oauthlib
retina-face
rsa
semantic-version
six
soupsieve
sqlparse
tensorboard
tensorboard-data-server
tensorboard-plugin-wit

tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
testfixtures
text-unidecode
toml
tomli
tqdm
typed-ast
typing-extensions
unicorn
urllib3
wcwidth
Werkzeug
wrapt
zipp
